{%- if settings.social_tiktok_link != blank -%}
  <a href='{{ settings.social_tiktok_link }}' target="_blank"><img src="https://cdn.shopify.com/s/files/1/0720/7819/7049/files/icon-tiktok.png?v=1692783289" alt="TicTok KYX" /></a>
{% endif %}

{%- if settings.social_instagram_link != blank -%}
  <a href='{{ settings.social_instagram_link }}' target="_blank"><img src="https://cdn.shopify.com/s/files/1/0720/7819/7049/files/insta-icon.svg?v=1686634253" alt="Instagram KYX" /></a>
{% endif %}

{%- if settings.social_blue_instagram_link != blank -%}
  <a href='{{ settings.social_blue_instagram_link }}' target="_blank"><img src="https://cdn.shopify.com/s/files/1/0720/7819/7049/files/blue-insta-icon.svg?v=1690377964" alt="Instagram KYX" /></a>
{% endif %}
{%- if settings.social_facebook_link != blank -%}
  <a href="{{ settings.social_facebook_link }}" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0720/7819/7049/files/icon-facebook.svg?v=1690473761" alt="{{ 'general.social.links.facebook' | t }}" />
  </a>
{%- endif -%}
{%- if settings.social_twitter_link != blank -%}
  <a href="{{ settings.social_twitter_link }}" target="_blank">
    <img
      src="https://cdn.shopify.com/s/files/1/0720/7819/7049/files/icon-twitter.svg?v=1690473563"
      target="_blank"
      alt="{{ 'general.social.links.twitter' | t }}" />
  </a>
{%- endif -%}
{%- if settings.social_youtube_link != blank -%}
  <a href="{{ settings.social_youtube_link }}" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0720/7819/7049/files/icon-youtube.png?v=1692783299" target="_blank" alt="{{ 'general.social.links.youtube' | t }}" /> </a>
  </a>
{%- endif -%}

<ul class="footer__list-social list-unstyled list-social">
  {% comment %}  {%- if settings.social_facebook_link != blank -%}
  <li class="list-social__item">
  <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
  {%- render 'icon-facebook' -%}
  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
  </a>
  </li>
  {%- endif -%}   
  {%- if settings.social_youtube_link != blank -%}
  <li class="list-social__item">
  <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
  {%- render 'icon-youtube' -%}
  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
  </a>
  </li>
  {%- endif -%}{% endcomment %}{% comment %}  {%- if settings.social_twitter_link != blank -%}
  <li class="list-social__item">
  <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
  {%- render 'icon-twitter' -%}
  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
  </a>
  </li>
  {%- endif -%} {% endcomment %}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="list-social__item"> <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        {%- render 'icon-pinterest' -%}
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        {%- render 'icon-snapchat' -%}
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        {%- render 'icon-tumblr' -%}
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        {%- render 'icon-vimeo' -%}
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>